/* Estilo geral com melhorias */
/* Estilo geral com melhorias */

body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* Define a altura para 100% */
}
body.theme-light {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(31, 34, 38, 0.2);
    --tertiary-color: rgba(164, 164, 169, 0.2);
    --quaternary-color: rgba(255, 250, 250, 0.3);
    --quinary-color: rgb(255,255,255,1);
    --todo-color:rgba(0, 136, 255, 0.756);
    --doing-color:rgba(239, 235, 100, 0.655);
    --done-color:rgba(121, 219, 88, 0.714);
    --header-color:rgba(101, 103, 108, 0.9);
    --background-color: rgb(255, 255, 255);
    --text-color:  rgb(0,0,0,1);
    --text-color2:  rgb(255,255,255,1);
}
body.theme-dark {
    --primary-color: rgb(148, 146, 146);
    --secondary-color: rgba(255, 255, 255, 0.111);
    --tertiary-color: rgba(255, 255, 255, 0.2);
    --quaternary-color: rgba(0, 5, 5, 0.3);
    --quinary-color: rgba(255, 255, 255, 0.075);
    --todo-color:rgb(236, 154, 82);
    --doing-color:rgb(173, 171, 57);
    --done-color:rgba(155, 233, 154, 0.66);
    --header-color:rgba(77, 78, 81, 0.9);
    --background-color: rgb(0, 0, 0);
    --text-color:  rgb(246, 242, 242);
    --text-color2:  rgb(255, 252, 252);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color2);
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0px 0;
    background-color: var(--header-color); /* Adicionando um fundo translúcido */
    position: relative;
    top: 0;
    z-index: 2;
}
header h1{
    margin: 0px;
    padding: 0px 0;
    align-content: center;
}
#logo {
    max-width: 88px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: inline-flexbox; /* Isso pode ajudar a garantir que o estilo seja aplicado */
    margin-right: 20px; /* Centraliza a imagem no banner */
    margin-left: 20px;
}
.top-right-flags li {
    display: inline;
    margin-right: 10px;
}

.top-right-flags a {
    color: #fff;
    text-decoration: none;
}
.top-right-flags a:hover {
    color: #bcc6db;
    cursor: pointer;
    text-decoration: none;
}

.top-right-flags a.active {
    text-decoration: underline;
    font-weight: bold;
}

#usernameDisplay{
    padding: 0px 15px;
    font-size: 20px;
    align-content: center;
    justify-content: center;
}

/*Barra de navegação*/
.topnav {
    display: flex; /* Alinha os itens da barra de navegação horizontalmente */
    justify-content: center; /* Centraliza os itens da barra de navegação */   
    padding: 0.5em 0; /* Espaçamento vertical da barra de navegação */
}

.topnav a {
    color: var(--text-color2); /* Cor do texto dos links */
    padding: 5px 5px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.1s; /* Transição suave para o hover */
    border-radius: 5px; /* Bordas arredondadas para um visual moderno */
    margin: 0 5px; /* Espaçamento entre os links */
}

.topnav a:hover {
    background-color: #9f9e9e; /* Cor de fundo ao passar o mouse */
}

.topnav a.active {
    background-color: #a6a7a2; /* Cor de fundo para o link ativo */
}

/******************************************
FLAGS
******************************************/
.top-right-flags li {
    display: inline;
    margin-right: 10px;
}

.top-right-flags a {
    color: #fff;
    text-decoration: none;
}
.top-right-flags a:hover {
    color: #bcc6db;
    cursor: pointer;
    text-decoration: none;
}

.top-right-flags a.active {
    text-decoration: underline;
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px); /* Ajuste para ocupar a altura */
    width: 99%;
    align-self: center;
    margin: 5px 0px;
}

.mainBoard-tasks-container {
    display: flex;
    padding: 0; /* Espaço para cabeçalho e barra de navegação */
    gap: 15px; /* Espaço entre as colunas */
    max-height: 100%;
    width: 100%;
    flex-grow: 1;
}
.right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3; /* Faz ocupar o espaço restante */
    max-height: 100%;
    width: 30%;
}
.tasks-row {
    display: flex;
    gap: 10px; /* Espaço entre as colunas */
    height: 89%;
}
.horizontal-section {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    gap: 20px; /* Espaço entre as colunas */
    flex-grow: 1; /* Faz a div ocupar o espaço restante na linha */
    height: 10%; /* Altura da seção */
    background-color: var(--secondary-color); /* Cor de fundo */
    margin-bottom: 5px; /* Espaço abaixo da seção horizontal */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para destaque */
}
.col-leftMenu{
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    padding: 0px;
    margin-bottom: 0px; /* Espaçamento na parte inferior */
    text-align: center;
    width: 23vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col-leftMenu a.active {
    text-decoration: underline;
    font-weight: bold;
}

h4 {
    margin: 0;
    padding: 5px;

}
.col-todo, .col-doing, .col-done,.historic-retrospectives {
    background-color: var(--tertiary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    padding: 0px;
    margin-bottom: 20px; /* Espaçamento na parte inferior */
    text-align: center;
    width: 23vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header-list{
    display: flex;
    align-items: center;
    justify-items: center;
}
.header-list h4 {
    padding: 18px 0px;
}

#col-todo-text, #col-doing-text, #col-done-text{
    flex-grow: 1;
    justify-self: center;
}
.count-div-circle{
    background-color: var(--primary-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    height: 30px;
    width: 40px;
    border-radius: 20px;
    margin-right: 7px;
    align-items: center;
}
.invisible-counter {
    visibility: hidden; /* Torna o elemento invisível */
    width: 40px; /* Mesmo largura da .count-div-circle */
    height: 30px; /* Mesma altura da .count-div-circle */
    margin-right: 7px; /* Mesma margem da .count-div-circle */
}

.count-div-circle h3{
    margin: 0px;
    padding: 3px;
}

#todo, #doing, #done {
    min-height: calc(100% - 45px); /* Altura mínima da ul para tornar dragable mesmo que vazio*/
}

#add-task-btn{
    background-color: var(--secondary-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    padding: 6px;
}

.scrolable-ul {
    overflow-y:auto;
    height: 100%;
 
}
/* Personaliza a barra de rolagem para elementos com .scrolable-ul */
.scrolable-ul::-webkit-scrollbar {
    width: 8px; /* Espessura da barra de rolagem */
}

.scrolable-ul::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho da barra de rolagem */
    border-radius: 8px;
}

.scrolable-ul::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 8px; /*Arredonda os cantos*/
}

.scrolable-ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}


footer {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color2);
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 0px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 40px;
}
footer p {
    margin: 0;
    font-size: 13px;
}

/* UNORDERED LIST FOR TASKS */
ul {
    padding-left: 0px;
}

.banner {
    background-color: var(--quaternary-color); /* Cor de fundo ligeiramente diferente */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px; /* Espaço entre o banner e o content */
    display: flex; /* Alinha ícone e texto na mesma linha */
    align-items: center; /* Centraliza verticalmente */
}
.content {
    padding: 4px;
}
.task-item {
    border-radius: 10px;
    list-style-type: none; /* Remove o ponto */
    background-color: var(--quinary-color); 
    padding: 0px; 
    overflow: hidden; 
    margin: 8px auto; 
    width: 90%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
#todo .banner {
    background-color: var(--todo-color);
}
#doing .banner {
    background-color: var(--doing-color);
}
#done .banner {
    background-color: var(--done-color);
}

.task-item:hover {
    cursor: pointer;
    transform: translate(-2px, -2px); /* Move o elemento 5px para a direita e 5px para cima */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Adiciona uma sombra para efeito de elevação*/
}
.task-item:hover button {
    opacity: 1; /* Torna o botão totalmente opaco quando o mouse sobre o task-item */
}

.task-item h3, .task-item p {
    margin: 2px 5px; /* Espaçamento entre titulo*/
    word-wrap: break-word; /* Quebra palavras longas para não ultrapassar a largura */
}

.task-item button {
    opacity: 0;
    transition: opacity 0.3s; /* Adiciona uma transição suave para a opacidade */
    float:right; 
    margin-left: 0px; 
    padding: 3px 8px; 
    border-radius: 2px;
    border: none;
    background-color: var(--quinary-color);
    cursor: pointer; 
}

.task-item button:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}
.task-item button img {
    width: 14px; /* Ou qualquer tamanho que se adeque ao seu design */
    height: auto;
}

/*Especifico pagina retrospetivas*/

.retrospective-main{
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px); /* Ajuste para ocupar a altura total disponÃ­vel */
    width: 99%;
    align-self: center;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 15px;
}
.historic-retrospectives{
    height: 100%;
}
.mainRetrospectivesForm{
    flex: 1;
}

/*Forms*/
form {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color); /* Transparência */
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 600px;
}

input[type="date"], input[type="textarea"] {
    width: calc(100% - 20px); /* Correção para evitar colagem nas bordas */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#title{
    color: var(--text-color);
    background-color: var(--primary-color);
}
#title:disabled{
    background-color: var(--terciary-color);
    color: var(--text-color);
}
/* Estilos para textarea */
textarea {
    width: calc(100% - 20px);; /* Faz a textarea ocupar calc(100% - 20px) da largura do elemento pai */
    padding: 10px; /* Espaço interno para o texto */
    margin: 10px 0; /* Margem exterior */
    border: 1px solid #ddd; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    resize: none; /* Impede o usuário de redimensionar a textarea */
    min-height: 100px; 
    color: var(--text-color);
    background-color: var(--primary-color);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Sombra interna para um efeito sutil */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para foco e interações */
}
textarea:disabled{
    background-color: var(--terciary-color);
    color: var(--text-color);
}

#taskForm-viewer-edition #title, #taskForm-viewer-edition #description{
    border: none;
    box-shadow: none;
    color: var(--text-color);
}
.row-task-viewer{
    display: flex;
    justify-content: space-between;
}

textarea:focus {
    outline: none;
    border-color: #007aff;
    box-shadow: 0 0 8px rgba(0, 122, 255, 0.6);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9cc1e8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


input[type="submit"]:hover {
    background-color: #d7e2ef;
}
button#cancel-edit {
    align-self: flex-end;
    background-color: #9c9797; /* Cor vermelha para cancelar */
    color: white;
    cursor: pointer;
    
}
#edit-btn{
    border: none;
    background-color: none;
}
#edit-icon{
    cursor: pointer;
    width: 14px; /* Ou qualquer tamanho que se adeque ao seu design */
    height: 14px;
    border: none;
}


/* Animações e foco nos inputs */
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #007aff;
    box-shadow: 0 0 8px rgba(0, 122, 255, 0.6);
}
/*Other*/
.task-viewer-editer-adder{
    justify-content: center;
    align-items: center;
}
.mainBoard{
    width: 50%;
    justify-content: center;
}

/*Estatisticas*/
#task-bar-chart {
    width: 100px; /* ou um valor específico maior */
    height: 20px; /* altura maior para visibilidade */
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:  2px 4px rgb(0, 0, 0);
}

.task-bar {
    display: flex;
    height: 100%; /* Use 100% para que as barras preencham totalmente a altura do contêiner */
    transition: width 0.5s ease;
   
    border: 2px
   
}

#todo-bar { /* Certifique-se de que essas classes correspondam às usadas no seu JavaScript */
    background-color: var(--todo-color); /* Azul */
}

#doing-bar {
    background-color: var(--doing-color); /* Amarelo */
    
}

#done-bar {
    background-color: var(--done-color); /* Verde */
   
}

.main-settings{
    display: flex;
    align-items:center;
    align-items: center;
    justify-content:baseline;
}
.mainBoard-settings{
    display: flex;
    justify-content: center;
}
.mainBoard-settings #theme,#delete-text{
    font-weight: bold;
}


#dark-theme, #light-theme{
    cursor: pointer;
}

